<ion-view title="Finder">
    <ion-content class="dealview" scroll="false">
        <td-cards>
            <td-card ng-repeat="deal in deals" on-destroy="cardExitAction(deal);cardDestroyed($index)" ng-click="openModal();" on-swipe-left="cardLeftSet()" on-swipe-right="cardRightSet()" on-partial-swipe="cardPartialSwipe(amt)" >
                <div class="deal-blurb">{{deal.name}}</div>
                <div class="image">
                    <div class="no-text">No Thanks!</div>
                    <img ng-src="{{deal.imageUrl}}">
                    <div class="yes-text">Yes Please!</div>
                </div>
            </td-card>
        </td-cards>
        <div class="dealInfoPane">
            <button class="button button-large button-positive deal-button" ng-click="rejectButton()" >
                No Thanks!
            </button>
            <button class="button button-large button-positive deal-button" ng-click="acceptButton()">
                Yes!
            </button>
        </div>
    </ion-content>
</ion-view>

