
<div class="modal">
    <ion-header-bar>
        <h1 class="title">Special Notes</h1>
    </ion-header-bar>
    <ion-content class="deal-modal padding">
        <!-- Div to hold deal and expanded options-->
        <div>
            <!-- Slider for pics-->
            <div class="bus-slider">
                <ion-slide-box on-slide-changed="slideChanged(index)">
                    <ion-slide>
                        <img src="http://lorempixel.com/g/350/350/">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://lorempixel.com/g/350/350/">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://lorempixel.com/g/350/350/">
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="row business-stats">
                <div class="col-xs-6">
                    <span>{{deals[0].name}}</span>
                </div>
                <div class="col-xs-6">
                    <span>Rating</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">This place was founded in yada yada yada and was voted yada yada yada of the best yada yada.</div>
            </div>
            <!-- Tags associated with business currently hardcoded until
                 tag data model is worked out. -->
            <div>
                <div class="cloudTag" ng-class="active">$</div>
                <div class="cloudTag" ng-class="active">Beer</div>
                <div class="cloudTag" ng-class="active">Pizza</div>
                <div class="cloudTag" ng-class="active">Pub Food</div>
            </div>

            <div>
                <button class="button energized" ng-click="closeModal();">
                    Done
                </button>
            </div>
        </div>
    </ion-content>
</div>
