<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Find" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Stashed Deals Tab -->
  <ion-tab title="Stash" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/deals">
    <ion-nav-view name="tab-deals"></ion-nav-view>
  </ion-tab>

</ion-tabs>
