<ion-view title="Finder">
    <ion-content class="dealview" scroll="false">
        <td-cards>
            <td-card ng-repeat="deal in showDeals()" on-destroy="cardExitAction(deal);cardDestroyed($index)" ng-click="openModal();" on-swipe-left="cardLeftSet()" on-swipe-right="cardRightSet()" on-partial-swipe="cardPartialSwipe(amt)" >
                <div class="deal-blurb">{{deal.name}}</div>
                <div class="image">
                    <div class="no-text">No Thanks!</div>
                    <img ng-src="{{deal.imageUrl}}">
                    <div class="yes-text">Yes Please!</div>
                </div>
            </td-card>
        </td-cards>
        <div class="row dealInfoPane">
            <div class="col-30 col-offset-16">
                <button class="button button-positive button-block" ng-click="rejectButton()" >
                    No Thanks!
                </button>
            </div>
            <div class="col-30 col-offset-15">
                <button class="button button-positive button-block" ng-click="acceptButton()">
                    Yes!
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

