<ion-view title="Tags">
    <ion-content style="text-align: center;" ng-controller="TagsCtrl">
        <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">
             <span>
                 <h4>Category</h4>
            </span>
            <!-- Category -->
            <div>
                <div class="cloudTag" ng-repeat="category in categories" ng-click="selectCategory($index)" ng-class="{'active' : categories[$index].checked}">{{category.text}}</div>
            </div>
            <span>
                 <h4>Prices</h4>
            </span>
            <!-- Prices -->
            <div>
                <div class="cloudTag" ng-repeat="price in priceList" ng-click="selectPrice($index)" ng-class="{'active' : priceHighlight($index)}">{{price.text}}</div>
            </div>
            <span>
               <h4>Tags</h4>
            </span>
            <!-- Item Tags-->
            <div>
                <div ng-repeat="tag in stashedTags" class="cloudTag" ng-click="selectTag($index);" ng-class="{'active' : stashedTags[$index].selection}">{{tag.name}}</div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>