/* Empty. Add your own CSS if you like */
.dealview {
    text-align: center;
    padding-top: 20px;
    color: #000;
    background-color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300
}

.slider {
    height: 100%; text-align: center
}
.scroll {
    height: 100%
}